:root {
    --fuentePrincipal:'Poppins', sans-serif;

    --colorPrincipal: #ecf0f1;
    --negro: #000000;
    --blanco: #ffffff;
}
* {
    padding: 0;
    margin: 0;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*Globales*/
/*=========================================================*/
h1,
h2, 
h3, 
p,
a {
    font-family: var(--fuentePrincipal);
}

/*Utilidades*/
/*========================================================*/
.no-margin{
    margin: 0;
}
.decoration{
    text-decoration: none;
}

/*Navigation*/
/*========================================================*/
.nav-bg {
    width: 100%;
    height: 6.9rem;
}
.nav-container {
    margin: 0 2.4rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 3.2rem;
    display: flex;
    align-items: center;
    color: #393939;
    font-family: var(--fuentePrincipal);

}
.logo__ligth {
    font-weight: 300;
}
.nav {
    height: 100%;
    display: flex;
    gap: 3rem;
    align-items: center;
}
.nav__btn {
    font-size: 1.5rem;
    color: #393939;
    font-family: var(--fuentePrincipal);
    font-weight: 400;
}

/*Banner*/
/*===========================================================*/
.banner-container {
    display: flex;
    background-color: var(--colorPrincipal);
}
.banner__container-img {
    margin: 3.2rem 2.4rem;
    width: 60%;
    overflow: hidden;
}
.banner__img {
    max-width: 100%;
    height: auto;
}
.banner__info {
    margin: auto 0 auto 4rem;
}
.banner__info__title {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 700;
    word-spacing: .3rem;
}
.banner__info__text {
    font-size: 1.8rem;
    margin-bottom: 5rem;
    line-height: 2.5rem;
    font-weight: 500;
}
.banner__info__btn {
    font-size: 1.6rem;
    padding: .8rem 20%;
    background-color: var(--negro);
    color: var(--blanco);
    border-radius: .5rem;
}

/*Practicing*/
/*============================================================*/
.prac-container {
    display: grid;
    grid-template-columns: 64% 36%;
}
.card-prac {
    margin: 3.2rem 2.4rem;
}
.prac__container-img {
    width: 98.5%;
    overflow: hidden;
}
.prac__img {
    max-width: 100%;
    height: auto;
    margin-bottom: 3.2rem;
}
.prac__info-title {
    font-size: 2.4rem;
    font-weight: 700;
}
.prac__info-text {
    font-size: 1.4rem;
    margin: 2.4rem 0;
    line-height: 2rem;
    font-weight: 400;
}
.prac__info-author {
    font-size: 1.2rem;
    margin-top: 3rem;
    font-weight: 300;
}

/*Practicing aside*/
/*======================================================================*/
.prac-aside {
    margin: 3.4rem 0;
    width: 100%;
    border-left: 2px solid var(--colorPrincipal);
}
.aside__widget {
    display: flex;
    align-items: center;
    border-bottom: 3px solid var(--colorPrincipal);
    list-style: none;
}
.aside__widget:last-of-type {
    border-bottom: none;
}
.aside__widget__container-img {
    width: 35%;
    overflow: hidden;
    margin: 1.6rem 1.6rem;
}
.aside__widget__img {
    width: 100%;
    height: auto;
}
.aside__widget__title {
    font-size: 1.8rem;
    font-weight: 500;
}
.aside__widget__text {
    font-size: 1.3rem;
    margin: .8rem 0;
    line-height: 2rem;
}
.aside__widget__btn {
    font-size: 1.3rem;
}