:root {
    --fuentePrincipal:'Poppins', sans-serif;

    --colorPrincipal: #ecf0f1;
    --negro: #000000;
    --blanco: #ffffff;
}
* {
    padding: 0;
    margin: 0;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*Globales*/
/*=========================================================*/
h1,
h2, 
h3, 
p,
a {
    font-family: var(--fuentePrincipal);
}

/*Utilidades*/
/*========================================================*/
.no-margin{
    margin: 0;
}
.decoration{
    text-decoration: none;
}

/*Navigation*/
/*========================================================*/
.nav-bg {
    width: 100%;
    height: 6.4rem;
}
.nav-container {
    margin: 0 2.4rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav--phone {
    display: none;
    position: absolute;
}
.logo {
    height: 3.2rem;
    display: flex;
    align-items: center;
    color: #393939;
    font-family: var(--fuentePrincipal);

}
.logo__ligth {
    font-weight: 300;
}
.nav {
    height: 100%;
    display: flex;
    gap: 3rem;
    align-items: center;
}
.nav__btn {
    font-size: 1.5rem;
    color: #393939;
    font-family: var(--fuentePrincipal);
    font-weight: 400;
}
@media (max-width: 480px) {
    .nav-container {
        display: none;
    }
    .nav--phone {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .nav-bg {
        display: flex;
        align-items: center;
        height: 6.4rem;
    }
}

/*Banner*/
/*===========================================================*/
.banner-container {
    display: flex;
    background-color: var(--colorPrincipal);
}
.banner__container-img {
    margin: 3.2rem 2.4rem;
    width: 60%;
    overflow: hidden;
}
.banner__img {
    max-width: 100%;
    height: auto;
    border-radius: .5rem;
}
.banner__info {
    margin: auto 0 auto 4rem;
}
.banner__info__title {
    font-size: 3.4rem;
    margin-bottom: 2rem;
    font-weight: 700;
    word-spacing: .3rem;
}
.banner__info__text {
    font-size: 1.8rem;
    margin-bottom: 5rem;
    line-height: 2.5rem;
    font-weight: 500;
}
.banner__info__btn {
    font-size: 1.6rem;
    padding: .8rem 20%;
    background-color: var(--negro);
    color: var(--blanco);
    border-radius: .5rem;
    transition: all 90ms ease-in;
}
.banner__info__btn:hover {
    background-color: var(--blanco);
    color: var(--negro);
}
@media (max-width: 480px) {
    .banner-container {
        display: block;
        height: 64rem;
    }
    .banner__container-img {
        width: 100%;
        margin: 0 auto;
    }
    .banner__info {
        margin-left: 1.6rem;
        margin-top: 3.2rem;
    }
    .banner__info__title {
        margin-bottom: 3.2rem;
    }
    .banner__info__text {
        margin-bottom: 3.2rem;
    }
    .banner__info__btn {
        padding: .8rem 30%;
        margin: 0 auto;
    }
}

/*Practicing*/
/*============================================================*/
.aside-phone {
    display: none;
}
.prac-container {
    display: grid;
    grid-template-columns: 64% 36%;
}
.card-prac {
    margin: 3.2rem 2.4rem;
}
.prac__container-img {
    width: 98.5%;
    overflow: hidden;
}
.prac__img {
    max-width: 100%;
    height: auto;
    margin-bottom: 3.2rem;
    border-radius: .5rem;
}
.prac__info-title {
    font-size: 2.4rem;
    font-weight: 700;
}
.prac__info-text {
    font-size: 1.4rem;
    margin: 2.4rem 0;
    line-height: 2rem;
    font-weight: 400;
}
.prac__info-author {
    font-size: 1.2rem;
    margin-top: 3rem;
    font-weight: 300;
}
@media (max-width: 480px) {
    .card-prac {
        display: none;
    }
    .prac-aside {
        display: none;
    }
    .aside-phone {
        display: inline;
        width: 156%;
        border-bottom: 1px solid var(--colorPrincipal);
    }
    .aside-phone__card {
        margin: 0 auto 6.4rem auto;
    }
    .aside-phone__card__container-img {
        width: 94%;
        margin: 1.6rem auto;
        overflow: hidden;
    }
    .aside-phone__card__img {
        max-width: 100%;
        height: auto;
    }
    .aside-phone__card__info {
        margin-left: 3.2rem;
    }
    .aside-phone__card__info__title {
        font-size: 2rem;
        font-weight: 700;
        display: inline-block;
    }
    .aside-phone__card__info__text {
        font-size: 1.4rem;
        margin: 1rem 0;
        line-height: 2rem;
        font-weight: 400;
        display: block;
    }
    .aside-phone__card__info__btn {
        margin-bottom: 6.4rem;
        font-size: 1.3rem;
    }
}

/*Practicing aside*/
/*======================================================================*/
.prac-aside {
    margin: 3.4rem 0;
    width: 100%;
    border-left: 2px solid var(--colorPrincipal);
}
.aside__widget {
    display: flex;
    align-items: center;
    border-bottom: 3px solid var(--colorPrincipal);
    list-style: none;
    transition: all 90ms ease-in;
}
.aside__widget:hover {
    background-color: var(--colorPrincipal);
}
.aside__widget:last-of-type {
    border-bottom: none;
}
.aside__widget__container-img {
    width: 35%;
    overflow: hidden;
    margin: 1.6rem 1.6rem;
}
.aside__widget__img {
    width: 100%;
    height: auto;
    border-radius: .5rem;
}
.aside__widget__title {
    font-size: 1.8rem;
    font-weight: 500;
}
.aside__widget__text {
    font-size: 1.3rem;
    margin: .8rem 0;
    line-height: 2rem;
}
.aside__widget__btn {
    font-size: 1.3rem;
}

/*Learning*/
/*========================================================================*/
.container-learning {
    padding: 3.4rem 0;
    background-color: var(--colorPrincipal);
}
.learn-title {
    margin-bottom: 3.2rem;
    text-align: center;
    font-size: 3.4rem;
    font-weight: 700;
}
.learn-grid {
    margin: 0 7.2rem;
    display: grid;
    gap: 3.2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.learn__card {
    background-color: var(--blanco);
    border-radius: .5rem;
    box-shadow: 0rem 0rem .6rem var(--negro);
}
.learn__card__container-img {
    width: 100%;
    overflow: hidden;
    border-radius: .5rem;
}
.learn__card__img {
    width: 100%;
    height: auto;
}
.learn__card__info {
    margin: 1.6rem 1.6rem 2.4rem 1.6rem;
}
.learn__card__info__title {
    font-size: 1.6rem;
    font-weight: 500;
}
.learn__card__info__text {
    font-size: 1.3rem;
    
}
.courses {
    margin: .8rem 0;
    font-size: 1.4rem;
}
@media (max-width: 480px) {
    .container-learning {
        background-color: var(--blanco);
    }
    .learn-grid {
        display: none;
    }
    .cards-learn-phone {
        border-bottom: 1px solid var(--colorPrincipal);
    }
    .card-learn-phone {
        background-color: var(--colorPrincipal);
        margin: .8rem 1.6rem;
        border-radius: .5rem;
    }
    .card-learn-phone:last-of-type {
        margin-bottom: 4.2rem;
    }
    .card-learn-phone__title {
        text-align: left;
        padding: 2.4rem 0 2.4rem 1.6rem;
        font-size: 1.8rem;
        color: var(--negro);
    }
}

/*Thesis*/
/*====================================================================*/
.thesis-title {
    text-align: center;
    font-size: 3.4rem;
    font-weight: 700;
    margin: 6.2rem 0 3.2rem 0;
}
.thesis-grid {
    display: grid;
    grid-template-columns: 64% 36%;
}
.prac-aside--thesis {
    border: none;
}
@media (max-width: 480px) {
    .thesis-title {
        margin: 0 0 1.6rem 0;
    }
    .video-phone {

    }
    .video-phone-container {
        width: 100%;
        overflow: hidden;
    }
    .video-phone__video {
        max-width: 100%;
        height: auto;
        margin-bottom: 2.4rem;
    }
}

/*Footer*/
/*=======================================================================*/
.footer-bg {
    border-top: 1px solid var(--colorPrincipal);
    height: 6.9rem;
    display: flex;
    align-items: center;
}
.footer-container {
    width: 100%;
    margin: 0 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-footer {
    height: 100%;
    display: flex;
    gap: 2rem;
}